{% extends 'encyclopedia/layout.html' %}
{%block body%}
    
<form method="POST">
    {% csrf_token %}
    
    <div>
      <label  for="title" class="form-label">Title</label>
      <input value="{{title}}" name="title" required type="text" class="form-control" id="title" placeholder="EDX">
    </div>
    <div>
      <label for="content" style='width: 500px;'>Content</label>
      <textarea value="{{content}}" style='width: 500px;' name="content" required class="form-control" id="content"  rows="10" placeholder="We love edx.org..."></textarea>
    </div>
    
      <button type="submit" class="btn btn-primary">Add</button>
      <a class="btn btn-danger" href="/">Cancel and discard</a>
    </form>
{%endblock body%}