{% extends "encyclopedia/layout.html" %}

{% block body %}
<div class="foo">
    <h1>{{title}}</h1>
    <span></span>
    {{content | safe}}
    <form  action="{% url 'wiki:create' %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Edit</button>
        <input type="hidden" name="title" value="{{title}}">
        <input type="hidden" name="content" value="{{content}}">
        <input type="hidden" name="edit" value="True">
        
    </form>
</div>
    
{% endblock body %}

